<div>
    <div id='user'>
        <input type="text" ng-model="form.username" placeholder="Username" />
    </div>
    <div id='pswd'>
        <input type="password" ng-model="form.password" placeholder="Password" />
    </div>
    <div id='email'>
        <input type="text" ng-model="form.email" placeholder="Email" />
    </div>

    <div id='type'>
        <select ng-model="form.type">
            <option ng-repeat="x in allTypes" value="{{x.value}}">{{x.name}}</option>
        </select>
    </div>

    <div id='gender'>
        <input type="radio" ng-model="form.gender" value="Male"> Male
        <input type="radio" ng-model="form.gender" value="Female"> Female
        <input type="radio" ng-model="form.gender" value="Other"> Other
    </div>
    
    <div id='location'>
        <input type="text" ng-model="form.location" placeholder="Location" />
    </div>
    <input type="button" value="Save" ng-click="addUser()" />
    <div>{{error_message}}</div>
</div>