.component-OpeningCraw {
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px;
  margin: 4px;
  width:600px;
  text-align: center;
}

.component-OpeningCraw .opening_crawl {
  perspective:180;
  -webkit-perspective:180; /* Safari and Chrome */
  text-align: center;
  background: black;
}

.component-OpeningCraw .opening_crawl .oc_text {
  text-align: center;
  white-space: pre-line;
  color: yellow;
  transform: rotateX(45deg);
  -webkit-transform: rotateX(45deg); /* Safari and Chrome */
  position: relative;
  display: inline-block;
  top: -100px;
  width: 400px;
  font-size: 0.6em;
}

.component-OpeningCraw .title {
  font-size: 1.5em;
}

