.messageDetail img {
    height: 1.5em;
}
.messageDetail>div {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.messageList>div {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.navBar {
    padding-bottom: 10px;
}
