<div class='messageDetail'>
    <a ng-href="#/messageList">Back to Message List</a>
    <div ng-repeat="message in messageList track by $index">
        <div>{{message.sender}}</div>
        <div><img ng-src="{{message.sender_img}}" /></div>
        <div>{{message.recipient}}</div>
        <div><img ng-src="{{message.recipient_img}}" /></div>
        <div>{{message.title}}</div>
        <div>{{message.description}}</div>
        <div>{{message.created_at}}</div>
        <div>{{message.important}}</div>
        <div><input type="button" ng-if="$index==0 && selfMessage" value="Important" ng-click="messageImportant()" /></div>
        <div><input type="button" ng-if="$index==0 && selfMessage" value="Delete" ng-click="messageDeleted()" /></div>
    </div>
    <div>
        <p>Reply</p>
        <div><input type='text' value="{{formReply.title}}" ng-model="formReply.title" placeholder="Title" /></div>
        <div><input type='text' value="{{formReply.description}}" ng-model="formReply.description" placeholder="Description" /></div>
        <div><input type="button" value="Send" ng-click="messageReply()" /></div>
    </div>
    <p>{{error_message}}</p>
</div>