<div>
    <div id='name'><input type="text" ng-value="form.name" placeholder="Username" /></div>
    <div id='pswd'><input type="password" ng-value="form.pswd" placeholder="Password" /></div>
    <div id='first_name'><input type="text" ng-value="form.first_name" placeholder="First Name" /></div>
    <div id='last_name'><input type="text" ng-value="form.last_name" placeholder="Last Name" /></div>
    <div id='email'><input type="text" ng-value="form.email" placeholder="Email" /></div>
    <div id='phone'><input type="text" ng-value="form.phone" placeholder="Phone" /></div>
    <div id='location'><input type="text" ng-value="form.location" placeholder="Location" /></div>
    <input type="button" value="Save" ng-click="setProfile()" />
    <div>{{error_message}}</div>
</div>